*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #d7d7d7;
  font-family: sans-serif;
}

.fluid-container {
  min-height: 100vh;
  min-width: 900px;
}

.menu {
  min-height: 100vh;
  background-color: rgba(255,255,255,.7);
  width: 30%;
  float: left;
  overflow-x: hidden;
}

.actual-todo {
  padding: 1.25rem;
  width: 70%;
  float: left;
  font-family: serif;
  font-size: 1.25rem;
}
