*{
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  background-color: rgba(200,200,200,1);
  font-family: sans-serif;
  max-width: 100%;
  /* border: 1px solid white; */
  overflow-x: hidden;
}

.fluid-container {
  min-height: 100vh;
  position: relative;
  /* border: 1px solid blue; */
}

.fluid-container:after {
  content: "";
  display: block;
  clear: both;
}

.open-menu {
  min-height: 100%;
  position: relative;
  display: block;
  float: left;
  width: 25%;
}

.menu {
  min-height: 100%;
  /* border: 1px solid green; */
  background-color: rgba(200,200,200,1);
  width: 100%;
  float: left;
}

.actual-todo {
  padding: 1.25rem;
  width: 75%;
  float: left;
  font-family: serif;
  font-size: 1.25rem;
  /* border: 1px solid yellow; */
}

.actual-todo h2 {
  font-family: monospace;
  font-weight: lighter;
}


@media only screen and (max-width: 1200px) {
  .open-menu {
    width: 30%;
  }

  .actual-todo {
    width: 70%;
  }
}

@media only screen and (max-width: 992px) {
  .open-menu {
    width: 20rem;
  }

  .actual-todo {
    width: 60%;
  }
}
