*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(200,200,200,1);
  font-family: sans-serif;
}

.fluid-container {
  min-height: 100vh;
  position: relative;
}

.fluid-container:after {
  content: "";
  display: block;
  clear: both;
}

.open-menu {
  min-height: 100%;
  position: relative;
  display: block;
  float: left;
  width: 25%;
}

.menu {
  min-height: 100vh;
  background-color: rgba(200,200,200,1);
  width: 100%;
  float: left;
  overflow-x: hidden;
}

.actual-todo {
  padding: 1.25rem;
  width: 75%;
  float: left;
  font-family: serif;
  font-size: 1.25rem;
}

.actual-todo h2 {
  font-family: monospace;
  font-weight: lighter;
}
