:root {
  --menu-width: 20rem;
  --logout-width: 1.5rem;
}

.hamburger,
.toggler {
  display: none;
}

.menu .todos .todo-list-container {
  position: absolute;
  left: 0;
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 95%;
  position: relative;
  /* border: 1px solid red; */
}

.menu .todos:before {
  content: "Listák";
  display: block;
  width: 90%;
  font-family: monospace;
  font-size: 1.75rem;
  border-bottom: 2px solid rgba(140,140,140,.9);
  color: rgba(140,140,140,.9);
  padding-left: 1rem;
  margin: 1rem 0;
}

.menu .todos .todo-list-container::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
}
.menu .todos {
  margin-top: -1rem;
  list-style: none;
  /* padding: 0 1.25rem; */
  font-family: fantasy;
  font-size: 1.75rem;
  position: relative;
  /* border: 1px solid green; */
}

.menu .user {
  position: relative;
  padding: .45rem;
  height: 3rem;
  /* border: 1px solid green; */
}

.menu .user div {
  float: right;
}

.menu .user::after {
  content: "";
  clear: both;
  display: block;
}

.list-item .my-handle {
  display: inline-block;
  font-size: .75rem;
  /* border: 1px solid red; */
  line-height: 2.7rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  cursor: grab;
}

.list-item .my-handle:active {
  cursor: grabbing;
}

.sortable-ghost {
  opacity: 0;
}

.sortable-chosen {
  opacity: .4;
}

.sortable-drag {
  opacity: 1;
}

.list-item .item-name {
  margin-left: .25rem;
  height: 2.5rem;
  /* border: 1px solid red; */
  display: inline-block;
  line-height: 2.5rem;
}

.menu .logout {
  /* border: 1px solid red; */
  position: relative;
  font-size: 2rem;
  text-align: center;
  font-family: monospace;
  color: rgba(140,140,140,1);
   /* background-color: rgba(0,0,0,.2); */
  cursor: pointer;
  z-index: 1;
  transition: all .4s ease-in-out;
}

.menu .logout:hover {
  /* background-color: rgba(0,0,0,.8); */
  color: rgba(255,255,255,1);
}

/* .menu .logout:hover ~ .user-email{
  transform: translateX(-.25rem) translateY(.25rem);
} */

.menu .todos p {
  text-align: center;
  margin-bottom: 1.25rem;
}

.menu .todos p.list-name {
  margin: 0;
  display: inline-block;
}

.menu .todos .list-item,
.menu .add-todo {
  padding-left: 2rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-family: monospace;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: rgba(140,140,140,.5);
  white-space: nowrap;
  overflow: hidden;
  border: none;
  transform: translateX(-2rem);
  transition: all .4s ease;
  user-select: none;
}

.menu .add-todo:hover,
.menu .add-todo:focus,
.menu .todos .todo-list-container:hover .list-item {
  transform: translateX(0);
  padding-left: 0rem;
  background-color: rgba(100,100,100,.7);
  color: #fff;
}

.menu .add-todo:hover ~ .input-text {
  color: rgba(255,255,255,.8);
}

.menu .todos .todo-list-container:hover .list-remove{
  transform: translateX(0);
}

.menu .todos .todo-list-container:hover .list-remove {
  opacity: 1;
  pointer-events: all;
}

.textfield {
  transition: all .4s ease;
  color: rgba(255,255,255,.8);
}

.textfield:focus ~ div {
  font-size: 1rem;
  color: rgba(255,255,255,.8);
  transform: translateX(0) translateY(-.65rem);
}

.textfield:hover {
  background-color: rgba(140,140,140,1);
}

.textfield:hover ~ div {
  color: rgba(255,255,255,.8);
}

.textfield.focused ~ div {
  font-size: 1rem;
  color: rgba(255,255,255,1);
  transform: translateX(0) translateY(-.65rem);
}

.textfield-form .textfield.focused{
  background-color: rgba(140,140,140,1);
}

.menu .add-todo {
  cursor: auto;
  border-radius: 0 10rem 10rem 0;
  padding-top: 1rem;
  color: rgba(255,255,255,.8);
  /* border: 1px solid red; */
  width: 95%;
}

.menu .todos .list-item {
  width: 100%;
  display: block;
  float: left;
  border-radius: 0 10rem 10rem 0;
}

.menu .todos .list-remove {
  position: absolute;
  top: .35rem;
  right: .36rem;
  float: left;
  display: block;
  text-align: center;
  border: 1px solid rgba(255,255,255,.8);
  color: #000;
  cursor: pointer;
  font-family: monospace;
  height: 1.8rem;
  font-size: 1.5rem;
  width: 1.8rem;
  border-radius: 10rem;
  transform: translateX(-2rem);
  transition: all .4s ease;
  z-index: 10;
  /* border: 1px solid red; */
  opacity: 0;
  pointer-events: none;
}
.menu .todos .list-remove:before,
.menu .todos .list-remove:after {
  content: "";
  position: absolute;
  top: .80rem;
  left: .3rem;
  display: block;
  height: .1rem;
  width: 1.2rem;
  background-color: rgba(255,255,255,.8);
  transform: rotate(45deg);
  transition: all .4s ease;
}

.menu .todos .list-remove:after{
  transform: rotate(135deg);
}

.menu .todos .list-remove:hover:before,
.menu .todos .list-remove:hover:after {
  background-color: rgba(255,0,0,.8);
}

.menu .todos .list-remove:hover {
  border-color: rgba(255,0,0,.8);
}

input {

}

input:focus {
  outline: none;
}

.textfield-form {
  position: relative;
  /* border: 1px solid green; */
}

.textfield-form > div {
  position: absolute;
  /* border: 1px solid red; */
  font-family: monospace;
  font-size: 1.3rem;
  color: rgba(100,100,100,1);
  top: .65rem;
  left: .75rem;
  pointer-events: none;
  transition: all .4s ease;
}


svg {
  width: 42px;
  height: 30px;
  fill: none;
}

svg path.line {
  d: path("M35,0 C35,10, 35,20 ,35,30");
  stroke: rgba(140,140,140,.8);
  stroke-width: 4;

}

svg:hover path.line{
  animation: lines .05s infinite;
}

svg:hover path.arrow {
  animation: arrow .05s infinite;
}

svg path.arrow {
  d: path("M5,15 L25,15, M26,16 L15,5 M26,14 L15,25");
  stroke: rgba(140,140,140,.8);
  stroke-width: 3;
}

@keyframes arrow {
  0% { d: path("M5,15 L25,15, M26,16 L15,5 M26,14 L15,25"); }
  50% { d: path("M15,15 L35,15, M36,16 L25,5 M36,14 L25,25"); }
  100% { d: path("M5,15 L25,15, M26,16 L15,5 M26,14 L15,25"); }
}

@keyframes lines {
  0% { d: path("M35,0 C35,10 ,35,20 ,35,30"); }
  20% { d: path("M35,0 C35,10 ,35,20 ,35,30"); }
  50% { d: path("M35,2 C40,10 ,40,20, 35,28"); }
  100%{ d: path("M35,0 C35,10 ,35,20, 35,30"); }
}

@media only screen and (max-width: 992px) {
  :root {
    --menu-width: 20rem;
  }

  .open-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    width: 30px;
    height: 30px;
    /* border: 1px solid red; */
  }

  .toggler {
    display: block;
  }

  .open-menu .toggler {
    position: absolute;
    top: .2rem;
    left: .2rem;
    /* border: 1px solid red; */
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0;
    z-index: 3;
  }
/*
  .open-menu .toggler:checked {
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 1;
  } */

  /* HAMBURHER LINES */

   .open-menu .hamburger {
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 30px;
    height: 30px;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
  }

   .open-menu .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgba(130,130,130,1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
  }

  .open-menu .hamburger > div:before,
  .open-menu .hamburger > div:after {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .open-menu .hamburger > div::after {
    top: 10px;
  }

  /* togger animate */
  .open-menu .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

 /*  Turn lines into X */
  .open-menu .toggler:checked + .hamburger > div:before,
  .open-menu .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* rotate on hover when checked */
  .open-menu .toggler:checked:hover + .hamburger > div{
    transform: rotate(315deg);
  }

  .open-menu .toggler:checked ~ .menu {
    transform: translateX(0);
  }

  .menu .todos .list-remove{
    opacity: 1;
    pointer-events: all;
  }

  .actual-todo {
    padding-left: 2rem;
    width: 100%;
  }

  .menu {
    position: fixed;
    width: var(--menu-width);
    top: 0;
    left: 0;
    transform: translateX(calc(-1* var(--menu-width)));
    display: block;
    transition: all .4s ease-in-out;
    z-index: 1;
    border-right: 2px solid rgba(100,100,100,.5);
  }

}


@media only screen and (max-width: 768px) {
  :root {
    --menu-width: 100%;
  }

  .menu {
    position: fixed;
    width: var(--menu-width);
    top: 0;
    left: 0;
    transform: translateX(calc(-1* var(--menu-width)));
    display: block;
    transition: all .4s ease-in-out;
    z-index: 1;
    border: none;
  }

}

/* @media only screen and (max-width: 768px) {
  :root {
    --menu-width: 100%;
  }
} */
